<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
        <meta http-equiv="cleartype" content="on">
        
        {% templatetag openblock %} load staticfiles {% templatetag closeblock %}
        {% templatetag openblock %} load compress {% templatetag closeblock %}
        
        <!-- favicon and mobile device icons-->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% templatetag openblock %} static "vendor/ico/apple-touch-icon-144x144-precomposed.png" {% templatetag closeblock %}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% templatetag openblock %} static "vendor/ico/apple-touch-icon-114x114-precomposed.png" {% templatetag closeblock %}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% templatetag openblock %} static "vendor/ico/apple-touch-icon-72x72-precomposed.png" {% templatetag closeblock %}">
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{% templatetag openblock %} static "vendor/ico/apple-touch-icon-57x57-precomposed.png" {% templatetag closeblock %}"> 
        <link rel="shortcut icon" href="{% templatetag openblock %} static "vendor/ico/favicon.ico" {% templatetag closeblock %}">
        
        <!-- windows8 - tile icon  & color -->
        <meta name="msapplication-TileImage" content="{% templatetag openblock %} static "vendor/ico/apple-touch-icon-144x144-precomposed.png" {% templatetag closeblock %}">
        <meta name="msapplication-TileColor" content="#222222">
        
        <!-- ios webapps - delete if not needed -->
        <!--
        <meta name="apple-touch-fullscreen" content="yes" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="">
        -->
        <!-- critical css (above the fold styles) -->
        {% templatetag openblock %} compress css inline {% templatetag closeblock %}
        <link rel="stylesheet" href="{% templatetag openblock %} static "vendor/css/normalize-3.0.1.min.css" {% templatetag closeblock %}">
        <style rel="stylesheet" type="text/less">
            body { background: lighten(aqua, 48%) !important; }
        </style>
        {% templatetag openblock %} endcompress {% templatetag closeblock %}
        
        {% templatetag openblock %} if request.is_mobile {% templatetag closeblock %}
        {% templatetag openblock %} compress css {% templatetag closeblock %}
        <!-- bootstrap & font awesome -->
        <link rel="stylesheet" href="{% templatetag openblock %} static "vendor/css/bootstrap-3.3.5.min.css" {% templatetag closeblock %}">
        <link rel="stylesheet" href="{% templatetag openblock %} static "vendor/css/font-awesome-4.3.0.min.css" {% templatetag closeblock %}">
        <!-- devtools -->
        <link rel="stylesheet" href="{% templatetag openblock %} static "vendor/css/aca-devtools.min.css" {% templatetag closeblock %}">
        <!-- mobile -->  
        <link rel="stylesheet" href="{% templatetag openblock %} static "{{ app_name }}/css/mobile.less" {% templatetag closeblock %}" type="text/less">
        {% templatetag openblock %} endcompress {% templatetag closeblock %}
        {% templatetag openblock %} endif {% templatetag closeblock %}
        
        {% templatetag openblock %} if request.is_tablet {% templatetag closeblock %}
        {% templatetag openblock %} compress css {% templatetag closeblock %}
        <!-- bootstrap & font awesome -->
        <link rel="stylesheet" href="{% templatetag openblock %} static "vendor/css/bootstrap-3.3.5.min.css" {% templatetag closeblock %}">
        <link rel="stylesheet" href="{% templatetag openblock %} static "vendor/css/font-awesome-4.3.0.min.css" {% templatetag closeblock %}">
        <!-- devtools -->
        <link rel="stylesheet" href="{% templatetag openblock %} static "vendor/css/aca-devtools.min.css" {% templatetag closeblock %}">
        <!-- mobile + tablet -->  
        <link rel="stylesheet" href="{% templatetag openblock %} static "{{ app_name }}/css/mobile.less" {% templatetag closeblock %}" type="text/less">
        <link rel="stylesheet" href="{% templatetag openblock %} static "{{ app_name }}/css/tablet.less" {% templatetag closeblock %}" type="text/less">
        {% templatetag openblock %} endcompress {% templatetag closeblock %}
        {% templatetag openblock %} endif {% templatetag closeblock %}
        
        {% templatetag openblock %} if not request.is_mobile and not request.is_tablet {% templatetag closeblock %}
        {% templatetag openblock %} compress css {% templatetag closeblock %}
        <!-- bootstrap & font awesome -->
        <link rel="stylesheet" href="{% templatetag openblock %} static "vendor/css/bootstrap-3.3.5.min.css" {% templatetag closeblock %}">
        <link rel="stylesheet" href="{% templatetag openblock %} static "vendor/css/font-awesome-4.3.0.min.css" {% templatetag closeblock %}">
        <!-- devtools -->
        <link rel="stylesheet" href="{% templatetag openblock %} static "vendor/css/aca-devtools.min.css" {% templatetag closeblock %}">
        <!-- mobile + tablet + desktop -->  
        <link rel="stylesheet" href="{% templatetag openblock %} static "{{ app_name }}/css/mobile.less" {% templatetag closeblock %}" type="text/less">
        <link rel="stylesheet" href="{% templatetag openblock %} static "{{ app_name }}/css/tablet.less" {% templatetag closeblock %}" type="text/less">
        <link rel="stylesheet" href="{% templatetag openblock %} static "{{ app_name }}/css/desktop.less" {% templatetag closeblock %}" type="text/less">
        {% templatetag openblock %} endcompress {% templatetag closeblock %}
        {% templatetag openblock %} endif {% templatetag closeblock %}
        
        {% templatetag openblock %} if not less_compiled {% templatetag closeblock %}
            <!-- less.js -->
            <script src="{% templatetag openblock %} static "vendor/js/less-2.0.0.min.js" {% templatetag closeblock %}" type="text/javascript"></script>
        {% templatetag openblock %} endif {% templatetag closeblock %}
        
    </head>
    <body>
       
        <div id="header"> 
            <h1>Trestle App</h1>
        </div>
        
        <div id="navigation">
            <ul>
                <li><a data-pjax href="/">Example</a></li>
                <li><a data-pjax href="/test/">Test</a></li>
            </ul>
        </div>
        
        <div id="content">
        
            <!-- pjax loading -->
            <div id="pjax-loading">loading...</div>
            
            <!-- all pjax content will render inside of this id -->
            <div id="pjax-container">
                {% templatetag openblock %} block content {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}
            </div>            
        
        </div>
                     
        <div id="footer">
            <!-- example of request.is_mobile and request.is_tablet usage in templates -->    
            {% templatetag openblock %} if request.is_mobile {% templatetag closeblock %}
            <p class="text-muted credit">Courtesy of <a href="">Charlon</a> and <a href="">Craig</a>. UW-IT ACA</p>
            {% templatetag openblock %} else {% templatetag closeblock %}
            <p class="text-muted credit">Courtesy of <a href="">Charlon Palacay</a> and <a href="">Craig Stimmel</a>. UW-IT ACA</p>
            {% templatetag openblock %} endif {% templatetag closeblock %}
        </div>
        
        {% templatetag openblock %} if devtools_bar {% templatetag closeblock %}
        <!-- devtools bar -->
        <div id="dev_toolbar">
            <span class="label label-device">Device: {% if request.is_mobile %}Mobile{% elif request.is_tablet %}Tablet{% else %}Desktop{%endif %}</span> <span class="label label-fold">The fold</span>
        </div>
        {% templatetag openblock %} endif {% templatetag closeblock %}
                
        <!-- javascript -->
        {% templatetag openblock %} compress js {% templatetag closeblock %}
        <script src="{% templatetag openblock %} static "vendor/js/jquery-1.11.3.min.js" {% templatetag closeblock %}"></script>
        <script src="{% templatetag openblock %} static "vendor/js/jquery-pjax.min.js" {% templatetag closeblock %}"></script>
        <script src="{% templatetag openblock %} static "vendor/js/bootstrap-3.3.5.min.js" {% templatetag closeblock %}"></script>
        <script src="{% templatetag openblock %} static "vendor/js/aca-devtools.min.js" {% templatetag closeblock %}"></script>
        <!-- app js goes here -->
        <script src="{% templatetag openblock %} static "{{ app_name }}/js/example.js" {% templatetag closeblock %}"></script>
        {% templatetag openblock %} endcompress {% templatetag closeblock %}
        
        {% templatetag openblock %} if google_analytics {% templatetag closeblock %}
        <!-- google analytics -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            
            ga('create', '{{ GOOGLE_ANALYTICS_KEY }}');
            ga('send', 'pageview');        
        </script>
        {% templatetag openblock %} endif {% templatetag closeblock %}
        
    </body>
</html>